##############
## binaries 
##############
 
*.a
*.bin
*.out
*.elf
*.exe
*.o
nidavellir

################
## temp files
################
*.s
*.i

##################
## Miscellaneous 
##################
 
debug.txt
notes.txt
